*{
    margin: 0px;
    padding: 0px;
}
.obox{
    border: solid 1px;
    height: 800px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: 1550px 750px;
}
#in1{
    border: solid 1px hidden;
    height: 50px;
}
#in2{
    border: solid 1px hidden;
    height: 600px;
}
ul li{
    border: solid 1px hidden;
    height: 50px;
    width: 160px;
    float: left;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
}
ul{
    list-style: none;
}
ul li a{
    color: rgb(70, 142, 168);
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
ul li:hover{
    background-color: rgb(159, 134, 132);
}
h1{
    color: plum;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
}
p{
    text-align: center;
    color: aqua;
    font-size: 40px;
    font-weight: bold;
}